vendors/**/bin/
vendors/**/bin-int/

**bin/
**bin-int/

# Ignore common build artifacts
*.obj
*.lib
*.dll
*.so
*.a
*.exe
*.pdb

.vs/
**Data/
**Brisk/x64/
**x64/
# Files
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
